@media (max-width: 575.98px) {

}
@media(max-width:767px) {
    .navbar {
        background: rgba(225, 83, 91, 1.0);
        background: radial-gradient(at center, rgba(106, 61, 63, 0.81), rgba(83, 69, 39, 0.81));
    }
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 0;
    }

}