
html,
body {
    background-color: #191a1e;
    background-image: radial-gradient(
            ellipse at 33% 10%,
            #461616 0%,
            transparent 75%
    );
    background-repeat: no-repeat;
    min-height: 100vh;
}
